.datagrid-cell-c1-S_ID {
	width: 142px
}

.datagrid-cell-c1-S_Name {
	width: 142px
}

.datagrid-cell-c1-S_Category {
	width: 142px
}

.datagrid-cell-c1-S_ContactName {
	width: 142px
}

.datagrid-cell-c1-S_ContactTel {
	width: 142px
}

.datagrid-cell-c1-S_Address {
	width: 142px
}

.datagrid-cell-c1-S_Remark {
	width: 142px
}

.datagrid-cell-c1-S_IsHasSetAdmin {
	width: 142px
}

.datagrid-cell-c1-S_CreateTime {
	width: 142px
}